/*

Site Name: Resident Evil Fansite
Author: David Kirby
Version: 1.0

*/

$border: 2px solid black;
$color: goldenrod;
$font: 'Courier New', Courier, monospace;

@mixin list {
    list-style-type: none;
    
    li {
        text-transform: capitalize;
    }
}

@mixin text {
    text-transform: capitalize;
    text-align: center;
}

* {
    box-sizing: border-box;
}

body {
    font-family: $font;
}

.header {
    @include text;

    font-family: 'Jacques Francois Shadow' ,sans-serif;

    padding: 20px;
    width: 100%;

    display: flex;
    align-items: center;

    h1 {
        color: $color;
        margin-left: 550px;
        font-size: 50px;
    }
}

.nav {
    @include list;
    @include text;
    padding: 10px;
    background-color: $color;

    li {
        display: inline;

        a {
            text-decoration: none;
            font-size: 20px;
            padding: 10px;
            color: black;
        }

        a:hover {
            background-color: black;
            color: white;
        }
    }
}

.main {
    height: 100%;
    width: 100%;

    background-image: url("images/RE1hd copy.jpeg");
    background-size: cover;
}

.content {
    @extend .main;
    background-image: none;
    background-color: rgba(black, 50%);
    color: white;
    padding: 30px;
}

img.attachment-thumbnail {
    width: 400px;
    height: 300px;

    margin-left: 50px;
    margin-top: 50px;
}

figcaption {
    text-align: center;
    font-size: 10px;
}

.jill {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    @include text;
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 30px;
}

h3 {
    font-family: $font;                      
    font-size: 20px;
    margin-bottom: 20px;
}

p {
   font-family: $font; 
   margin-bottom: 20px;
}

strong {
    color: rgb(15, 156, 15);
}

.footer {
    
    @include text;
    font-size: 15px;
    padding: 15px;
    background-image: none;
    background-color: $color;

    p {
        margin-bottom: 0;
    }
}